<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>新闻{$act.actstr}页面</title>
    <style>
    #content{
        padding:20px;
        background-color: #f5f5f5;
    }
    form{
        width: 800px;
        margin: 0 auto;
    }
    textarea {
        display: block;
    }
    button{
        float: right;
    }
    form a{
        color: #ffffff;
    }
</style>
<link href="__ROOT__/public/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="actcontent"]', {
            allowFileManager : true
        });
    });
</script>
</head>
<body>
    <div id="content">
    <form class="form-horizontal" action="__URL__/save" method="post">
        <input name="actlx" type="hidden" value="{$act.actlx}">
        <input name="actid" type="hidden" value="{$act.actid}">
        <div class="input-group">
            <span class="input-group-addon">标题</span>
            <input name="acttitle" type="text" class="form-control" placeholder="title" value="{$act.title}">
        </div><br>
        <div class="input-group">
            <span class="input-group-addon">作者</span>
            <input name="actauthor" type="text" class="form-control" placeholder="author" value="{$act.author}">
        </div><br>
        <textarea name="actcontent" style="width:800px;height:400px;visibility:hidden;">{$act.content}
        </textarea>
        <br />
        <button type="submit" class="btn btn-primary">保存{$act.actstr}</button>
        <button type="button" class="btn btn-primary" onclick=window.location.href="__URL__">返回列表</button>
    </form>
    </div>
</body>
</html>